body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

header {
    text-align: center;
    background: #2a7b2e;
    color: white;
    padding: 20px;
}

nav a {
    margin: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.logo {
    width: 120px;
    border-radius: 10px;
}

.hero {
    background: url("https://source.unsplash.com/1600x600/?dairyfarm") center/cover;
    padding: 80px 20px;
    text-align: center;
    color: white;
}

.container {
    padding: 30px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card, .product-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.product-img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    background: #2a7b2e;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
}

.payment-box {
    max-width: 350px;
    margin: auto;
    text-align: left;
}

.payment-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
